11.1 Make a file called zoo.py. In it, define a function called hours that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours function.

In [3]:
import zoo
zoo.hours()

Open 9-5 daily

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [4]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

16.4 Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author (text), and year (integer).

In [10]:
import sqlite3
data_base = sqlite3.connect('books.db')
curs = data_base.cursor()
curs.execute('''create table book (title text, author text, year int)''')
data_base.commit()

16.6 Select and print the title column from the book table in alphabetical order.

In [11]:
sql = 'select title from book order by title asc'
for row in data_base.execute(sql):
    print(row)

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [1]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
sql = 'select title from book order by title asc'
rows = conn.execute(sql)
for row in rows:
    print(row)